<%- include('../../layouts/headerNoAuth.ejs'); -%>

<div class="row gx-3">
    <div class="col">
      <img class="rounded img-fluid" src="/img/food-head.jpg" alt="" />
    </div>
    <div class="col">
      <h3>Login</h3><br>
      <form id="basic-form" action="/login" method="post">
          <div class="mb-3">
              <label for="">Email</label> 
              <input type="email" class="form-control" name="email" placeholder="Submit email...">
          </div>
          <div class="mb-3">
              <label for="">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Submit password...">
          </div>
          <div class="mb-3">
              <input class="btn btn-primary w-100"  type="submit" value="Login">
          </div>
      </form>
    </div>
  </div>
<%- include('../../layouts/footer.ejs'); -%>